h1 {
  color: #e4f1fb;
  background-color: #b5d4ec;
  font-family: 'Times new roman', arial, georgia;
  padding: 10px 10px 10px 10px;
  width: 40%;
  margin: 10px auto 50px auto;
  border: 5px solid #ffffff;
  border-radius: 10px 5px;
}

.grid {
  text-align: center;
  background-color: #84b0d2;
}

.button {
  padding: 10px;
  margin: 20px 0px 20px 0px;
  width: 20%;
  background-color: white;
  border: solid 1px transparent;
  border-radius: 5px;
  font: bold normal normal 1rem/2rem 'times new roman', arial, sans-serif !important;
}

.button:hover {
  background-color: #ff8c00;
  transition: background-color 0.5s;
  cursor: pointer;
}

td {
  border: 4px solid black;
  /*to make sure the table cells have fixed size,
  and the size won't change when the user clicks a cell. */
  width: 6rem;
  height: 8rem;
  font-size: 1.6rem;
  padding: 2rem !important;
}
